<h1>Boozehound</h1>

<p>
  This is the home page for the
  Boozehound application developed by Chris Hein for Olivia Hein.
</p>

<%= link_to "Add some booze!", boozes_path, :class => "signup_button round" %>
